.carousel-inner img {
    width: 100%; 
    height: 1000px; 
    object-fit: cover; 
	margin-top: 20px;
}
.list-group {
    position: fixed;
    z-index: 9999;
	top: 10px;
    left: 93%;
	margin-right:10px;
}
.list-group-item{
    margin: 0%;
}

a {
    margin: 5px;
}

.mt-4{
	margin-bottom:20px;
	
}
.btn-info {
	
	--bs-btn-bg: #0d6efd;
	--bs-btn-color: #fff;
}
.btn-primary{
	--bs-btn-active-bg:#3dd5f3;
	--bs-btn-hover-bg: #3dd5f3;
	--bs-btn-active-color: #000;
	--bs-btn-hover-color: #000;
}
img{
	border-radius:20px;
	height:50%;
	
}
.proval{
	background-color:red;
}
 @media (max-width: 720px) {
    .actor-photo {
        display: none;
    }
}